pkgbase = skaffold-git
	pkgdesc = A command line tool that facilitates continuous development for Kubernetes applications
	pkgver = 2.12.0
	pkgrel = 1
	url = https://github.com/GoogleContainerTools/skaffold
	arch = x86_64
	license = Apache
	makedepends = go
	optdepends = docker: One of tools for building images support by skaffold
	optdepends = minikube: To use Minikube
	optdepends = kubectl: One of tools for deploying applications support by skaffold
	optdepends = bash-completion: Tab autocompletion
	provides = skaffold
	conflicts = skaffold
	source = skaffold-2.12.0.tar.gz::https://github.com/GoogleContainerTools/skaffold/archive/v2.12.0.tar.gz
	sha256sums = 3c0900ce41df0f3ec7956c15b66af73dbbf5eedd5077f7136eb69225cfa9bfa8
	b2sums = bfb36412ee285b859d847f595e5be9bc9c0439cd8dc1e46e7a831182349f9b62b335f4f703b4fa868dc5d588a3996897b70df2b45e26c7697310f88a0bfb067b

pkgname = skaffold-git
