pkgbase = skaffold-git
	pkgdesc = A command line tool that facilitates continuous development for Kubernetes applications
	pkgver = 2.13.0
	pkgrel = 1
	url = https://github.com/GoogleContainerTools/skaffold
	arch = x86_64
	license = Apache
	makedepends = go
	optdepends = docker: One of tools for building images support by skaffold
	optdepends = minikube: To use Minikube
	optdepends = kubectl: One of tools for deploying applications support by skaffold
	optdepends = bash-completion: Tab autocompletion
	provides = skaffold
	conflicts = skaffold
	source = skaffold-2.13.0.tar.gz::https://github.com/GoogleContainerTools/skaffold/archive/v2.13.0.tar.gz
	sha256sums = 0aaf85009ceafec5e6f129f0f84c31b5c4375410638f1668761a82e56f2f2ccc
	b2sums = f2742ab06f412ab60482092f0551988e4c8489c67e673c57e6c2a126c57c63ba445a203ed2f71d21d7a4296722e44b9fff413b9e58491e2b130c4b5837ab0b3b

pkgname = skaffold-git
