pkgbase = skaffold-git
	pkgdesc = A command line tool that facilitates continuous development for Kubernetes applications
	pkgver = 2.11.0
	pkgrel = 1
	url = https://github.com/GoogleContainerTools/skaffold
	arch = x86_64
	license = Apache
	makedepends = go
	optdepends = docker: One of tools for building images support by skaffold
	optdepends = minikube: To use Minikube
	optdepends = kubectl: One of tools for deploying applications support by skaffold
	optdepends = bash-completion: Tab autocompletion
	provides = skaffold
	conflicts = skaffold
	source = skaffold-2.11.0.tar.gz::https://github.com/GoogleContainerTools/skaffold/archive/v2.11.0.tar.gz
	sha256sums = 3c9b21cef0247edabed26b6e329476bae893b56756bf3eb483d09873ee45889a
	b2sums = 0607dc57faa28845a908362a59b5e3c0b07099df48a170afe1feb7af47e7a83843da11715f8c16756d8131582951b1528c148a4d6380f082f783d2d679a91ded

pkgname = skaffold-git
